<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/navbar') %>

    <div
      style="
        border: 1px black solid;
        margin-top: 1rem;
        display: flex;
        position: relative;
        flex-direction: column;
        width: 150px;
        height: 175px;
        padding: 0.5rem;
        overflow: auto;
      "
    >
      <div style="color: rgba(0, 0, 0, 0.35); position: absolute; right: 5px">
        <%= locals.id %>
      </div>
      <div style="color: red"><%= locals.author %></div>
      <div style="color: yellowgreen; background-color: azure">
        <%= locals.message_time %>
      </div>
      <div style="margin-top: 6px">Text: <%= locals.message %></div>
    </div>
  </body>
</html>
